:root {
  --background-color : rgb(138, 141, 175);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Key Frames */
@keyframes grow-in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    right: 100%;
    background: rgb(85, 80, 114);
  }
  to{
    right: 50%;
    background: var(--background-color);
  }
}
@keyframes slide-in-right {
  from {
    left: 100%;
    background: rgb(85, 80, 114);
  }
  to{
    left: 50%;
    background: var(--background-color);
  }
}
/* Classes for animations */
.grow-in{
  animation-name: grow-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
.slide-in-left{
  animation-name: slide-in-left;
  animation-duration: 0.3s;
}
.slide-in-right{
  animation-name: slide-in-right;
  animation-duration: 0.3s;
}

/* utility */
.container {
  margin-left: 20px;
  margin-right: 20px;
}

.flex-between{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.flex-left{
  align-items: center;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.white-cover{
  background: var(--background-color);
  bottom: 0;
  left: 0;
  right: 0;
  top: 93px;
  overflow: auto;
  position: fixed;
}

/* Nav Bar Styling */
.flex-container{
  position: relative;
}
.top-bar{
  padding: 10px;
  background-color: rgb(49, 54, 99);
}
.home-button{
  position: absolute;
  left: 3px;
}
nav{
  
   margin-bottom: 35px;
}
nav h1{
  color: aliceblue;
  margin: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(30, 32, 58);
  
  
}
.navigation-link{
  float:left;
  padding: 10px;
  transition-duration: 0.5s;
  text-decoration: none;
  color: aliceblue;
}
.navigation-link:hover{
  background-color: rgb(49, 54, 99);
}

.current-navigation-link{
  background-color: rgb(49, 54, 99);
}

/* Decks */
.deck-list {
  background-color: rgb(30, 32, 58);
  color: aliceblue;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 15px;
  border-radius: 10px 10px 10px 0;
  width: 80%;
  margin: 0;
  text-align: left;
}

.deck-list li {
  transition-duration: 0.5s;
  background-color: rgb(49, 54, 99);
  color: aliceblue;
  width: 97%;
  cursor: pointer;

}
.deck-list li:hover {
  width: 100%;
  border-radius: 0 !important; 
}

.deck-list li:nth-child(even) {
  background-color: rgb(80, 84, 126);
  color: aliceblue;
}
.deck-list li:first-of-type {
  border-top-right-radius: 10px;
}
.deck-list li:last-of-type {
  border-bottom-right-radius: 10px;
}
.selected-deck{
  background-color: rgb(131, 115, 46) !important;
  width: 100% !important;
  border-radius: 0 !important; 
}

h2 {
  padding: 15px;
  margin: 0;
}

.deck-list li h3 {
  margin-left: 15px;
  display: inline;
}

.deck-list li .hidden-buttons {
  transition-duration: 0.5s;
  visibility: hidden;
  opacity: 0;
  margin-right: 15px;
}

.deck-list li:hover .hidden-buttons {
  visibility: visible;
  opacity: 1;
}

.delete-button {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: solid rgb(255, 255, 255) 1px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
}
.delete-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(119, 12, 12);
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
}

.add-button {
  transition-duration: 0.5s;
  margin: 0;
  display: block;
  border: 0;
  align-items: left;
  background-color: rgb(30, 32, 58);
  color: white;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  font-size: larger;
}

.add-button:hover {
  padding-top: 20px;
}

/* Modal */
.modal-background {
  background: rgba(0, 0, 0, 0.67);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  overflow: auto;
  position: fixed;
}
.modal-body {

  transition-duration: 0.5s;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
  background: aliceblue;
  top: 10px;
  bottom: 10%;
  margin: 50px auto;
  width: 80%;
}
.modal-body h2 {
  margin: 0;
}

/* Cards Page */

.description {
  padding: 15px;
  margin: 0;
}
.new-card-form{
  width: 80%;
  
  margin: 0;
  text-align: left;
  border-radius: 10px;
  color: aliceblue;
  background-color: rgb(30, 32, 58);
  
}

.new-card-form form {
  background-color: rgb(80, 84, 126);
  border-radius: 0 0 10px 0px;
}
.side-form{
  margin-top: 10px;
  
  padding: 10px;
}
.side-a{
  background-color: rgb(121, 123, 151) !important;
  border-radius: 10px 0 0 0;
  margin-left: 10px;
}
.side-b{
  background-color: rgb(131, 115, 46) !important;
  border-radius: 0 10px 10px 0;
}
.add-card-button {
  font-size: large;
  margin-left:10px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  border-radius: 0 0 10px 10px;
  border: solid rgb(121, 123, 151) 2px;
  border-top: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  outline: none;
}
.add-card-button:hover {
  background-color: rgb(121, 123, 151);
}
.card-list-container{
  background-color: rgb(80, 84, 126);
  margin-top: 0;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  padding-left: 0;
  width: 50%;
}
.card-list {
  background-color: rgb(30, 32, 58);
  color: aliceblue;
  list-style-type: none;
  padding:10px;
  border-radius: 10px;
  width: auto;
  margin: 0;
  margin-left: 10px;
  text-align: left;
}
.card-list h3 {
  margin: 0;
}
.card-list li {
  background-color: rgb(49, 54, 99);
  padding: 5px;
  cursor: pointer;
  
}
.card-list li:nth-child(even) { 
  background-color: rgb(80, 84, 126);
}
.card-list li:first-of-type {
  border-radius: 10px 10px 0 0;
}
.card-list li:last-of-type {
  border-radius: 0 0 10px 10px;
}
.selected-card{
  background-color: rgb(131, 115, 46) !important;
  
}
/* REVIEW PAGE */
.card-to-review {
  background-color: rgb(131, 115, 46) !important;
}
.card-to-review:nth-child(even) {
  background-color: rgb(94, 82, 32) !important;
}