:root {
  --background-color: rgb(138, 141, 175);
  --gradient: linear-gradient(to top right, rgb(49, 54, 99),rgb(80, 90, 182));
  --dark-gradient: linear-gradient(to top right, rgb(30, 32, 58),rgb(44, 49, 94));
  --selected-gradient: linear-gradient(to top right,rgb(131, 137, 201), rgb(130, 218, 206));
  
}

::placeholder {
  color: aliceblue;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  background-image: url(./assets/images/background-2.jpg);
  background-size: 100% auto;
  background-position: initial;
  animation: bg-scroll 10s  infinite alternate;
  animation-timing-function: ease-in-out;

}

hr {
  margin: 0px;
}

.hero {
  background-color: rgb(49, 54, 99);
  background-image: var(--gradient);
  padding: 10px 0 20px 0;
  width: 50%;
  border-radius: 10px 90px 10px 10px; 
  filter: drop-shadow(0 3px 4px black);
}
.mini-hero{
  background-color: rgb(49, 54, 99);
  background-image: var(--gradient);
  margin-top: 10px;
  padding: 5vh 0 5vh 0;
  width: 30%;
  border-radius: 10px 90px;
  filter: drop-shadow(0 3px 4px black);
}

.slow-pulse{
  animation: hero-pulse 10s  infinite alternate;
  animation-timing-function: ease-in-out;
}
.hero h1{
  font-size: 40px;
  text-shadow: 0px 5px 5px black;
}
.hero h2 {
  text-shadow: 0px 5px 5px black;
}
.mini-hero h2 {
  text-shadow: 0px 5px 5px black;
}

.alert {
  background-image: var(--gradient);
  text-align: left;
  padding: 2px;
  margin-top: 10px;
  padding-left: 50px;
  border-radius: 10px 90px;
  color: rgb(255, 148, 148);
  width: 50%;

}


@keyframes skew {
  0% {transform: skewX(0);}
  20% {transform: skewX(-2deg);}
  40% {transform: skewX(2deg);}
  60% {transform: skewX(-1deg);}
  80% {transform: skewX(1deg);}
  100% {transform: skewX(0);}
}

@keyframes bg-scroll {
  0% {
    background-size: 100% auto;
    background-position: initial;
  }
  50%{
    background-size: 105% auto;
  }
  100% {
    background-size: 100% auto;
    background-position: 0 100px;
  }
}

@keyframes hero-pulse {

  50%{
    transform: scale(1.02);
  }

}



.signup-login{
  background-image: var(--gradient);
  border-radius: 10px 90px;
  width: 50%;
  text-align: left;
  padding: 10px;
  padding-left: 75px;
}
.signup-login label{
  color: aliceblue;
}
.signup-login h1{
  
  margin: 0;
}





/* utility */
.white {
  color: white !important;
}

/* Button Icons */
.icon-button {
  cursor: pointer;
  transition-duration: 0.5s;

}

.icon-button:hover {
  color: rgb(214, 219, 136);
  transform: scale(1.1);
}

.copy-link {
  color: rgb(30, 32, 58);


  text-align: left;
  margin-bottom: 30px;
}

.highlight:hover {
  color: rgb(255, 255, 255);
  transition-duration: 0.5s;
  cursor: pointer;
}

/* Animations */
@keyframes flip-over {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: aliceblue;
}

h2 {
  color: aliceblue;
}

/* Key Frames */
@keyframes grow-in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes correct-card {
  from {
    background-color: rgb(115, 182, 120);
  }

  to {
    background-color: rgba(30, 32, 58, 0);
  }
}

@keyframes incorrect-card {
  from {
    background-color: rgb(202, 111, 111);
  }

  to {
    background-color: rgba(1, 3, 36, 0);
  }
}

/* Classes for animations */
.grow-in {
  animation-name: grow-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

/* utility */
.container {
  margin-left: 30px;
  margin-right: 30px;
}

.flex-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex-left {
  align-items: center;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.flex-left-up {
  align-items: start;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.white-cover {
  background: var(--background-color);
  bottom: 0;
  left: 0;
  right: 0;
  top: 93px;
  overflow: auto;
  position: fixed;
}

/* Home Styling */
.welcome-card {
  background-color: rgb(30, 32, 58);
  border-radius: 10px;
  color: aliceblue;
  width: 80%;
  text-align: left;
  margin-bottom: 10px;
}

.welcome-card p {
  margin: 0;
  padding: 10px 20px 30px 30px;
  background-color: rgb(49, 54, 99);
  background-image: var(--gradient);
  border-radius: 0 0 10px 70px;
}

.tutorial {
  width: 60%;
}

/* Nav Bar Styling */
.title {
  text-align: left;
  font-size: xx-large;
  padding: 10px;

}

.flex-container {
  position: relative;
}

.top-bar {
  padding: 10px;
  background-color: rgb(49, 54, 99);
  background-image: linear-gradient(0deg, rgb(49, 54, 99),rgb(80, 90, 182));
}

.home-button {
  position: absolute;
  left: 3px;
}

nav {

  margin-bottom: 35px;
}

nav h1 {
  color: aliceblue;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(30, 32, 58);


}

.navigation-link {
  float: left;
  padding: 10px;
  transition-duration: 0.5s;
  text-decoration: none;
  color: aliceblue;
}

.navigation-link:hover {
  background-color: rgb(49, 54, 99);
}

.current-navigation-link {
  background-color: rgb(49, 54, 99);
}

/* Decks */
.deck-list {
  background-color: rgb(30, 32, 58);
  background-image: var(--dark-gradient);
  color: aliceblue;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 15px;
  border-radius: 10px 70px 10px 0;
  width: 80%;
  margin: 0;
  text-align: left;
}

.deck-list li {
  transition-duration: 0.5s;
  background-color: rgb(49, 54, 99);
  color: aliceblue;
  width: 97%;
  cursor: pointer;

}

.deck-list li:hover {
  width: 100%;
  border-radius: 0 !important;
}

.deck-list li:nth-child(even) {
  background-color: rgb(80, 84, 126);
  color: aliceblue;
}

.deck-list li:first-of-type {
  border-top-right-radius: 10px;
}

.deck-list li:last-of-type {
  border-bottom-right-radius: 10px;
}

.selected-deck {
  background-color: rgb(67, 131, 216) !important;
  background-image: var(--selected-gradient);
  width: 100% !important;
  border-radius: 0 !important;
}

h2 {
  padding: 15px;
  margin: 0;
}

.deck-list li h3 {
  margin-left: 15px;
  display: inline;
}

.deck-list li .hidden-buttons {
  transition-duration: 0.5s;
  visibility: hidden;
  opacity: 0;
  margin-right: 15px;
}

.deck-list li:hover .hidden-buttons {
  visibility: visible;
  opacity: 1;
}

.delete-button {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: solid rgb(255, 255, 255) 1px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
}

.delete-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(119, 12, 12);
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
}

.bottom-button-extend {
  transition-duration: 0.5s;
  margin: 0;
  display: block;
  border: 0;
  align-items: left;
  background-color: rgb(30, 32, 58);
  color: white;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  font-size: larger;
}

.bottom-button-extend:hover {
  padding-top: 20px;
}

/* Modal */
.modal-background {
  animation-name: fade-in;
  animation-duration: 0.5s;
  background: rgba(0, 0, 0, 0.67);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  overflow: auto;
  position: fixed;
}

.qr-background {
  background: rgba(255, 255, 255, 0.67);
}

.modal-body {

  transition-duration: 0.5s;
  padding-bottom: 15px;
  border-radius: 10px 90px 15px 90px;
  background-color: rgb(80, 84, 126);
  background-image: var(--gradient);
  top: 10px;
  bottom: 10%;
  margin: 50px auto;
  width: 80%;
}

.modal-body form {
  padding: 15px;
  background-color: aliceblue;
  border-radius: 10px 90px 10px 90px;
}

.modal-body input {
  margin: 10px 0;
  border-radius: 15px;
  text-align: center;
  width: 70%;
  height: 30px;
  font-size: large;
  background-color: aliceblue;
  border: solid 2px rgb(0, 0, 0);
}

.modal-body h2 {
  margin: 0;

}

.modal-body button {
  margin: 10px;
  padding: 5px 105px;
}

/* Cards Page */
.edit-deck-form {
  border-radius: 10px 10px 0 0;
}

.edit-deck-input {
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.212);
  padding: 10px;
  transition-duration: 0.5s;
  width: 60%;
  color: aliceblue;

  font-size: large;

  font-weight: bold;
}

.edit-deck-input:hover {
  background-color: rgba(240, 248, 255, 0.575);
  color: aliceblue;
}

.edit-deck-input:focus {
  background-color: rgb(240, 248, 255);
  color: black;
}

.description {
  padding: 15px;
  margin: 0;
}

.new-card-form {
  width: 80%;
  margin: 0;
  padding-bottom: 15px;
  text-align: left;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(30, 32, 58);
}

.new-card-form h2 {
  color: black;
}


.new-card-form form {
  background-color: rgb(80, 84, 126);
}

.edit-card {

  padding: 0 10px 0 10px;
  text-align: center;
}

label {
  font-size: larger;
}

.edit-card input {
  text-align: center;
  width: 90%;
  height: 30px;
  font-size: large;
  color: rgb(0, 0, 0);
  background-color: rgba(240, 248, 255, 0);
  border: solid 2px rgb(0, 0, 0);
  border-radius: 15px;
  transition-duration: 0.5s;
}

.edit-card textarea {
  text-align: center;
  padding: 5px;
  width: 90%;
  resize: none;
  color: rgb(0, 0, 0);
  background-color: rgba(240, 248, 255, 0);
  border: solid 2px rgb(0, 0, 0);
  border-radius: 15px;
  transition-duration: 0.5s;
}

.edit-card input:hover {
  background-color: rgba(97, 97, 97, 0.466);
}

.edit-card input:focus {
  background-color: rgb(255, 255, 255);
}

.edit-card textarea:hover {
  background-color: rgba(87, 87, 87, 0.466);
}

.edit-card textarea:focus {
  background-color: rgb(255, 255, 255);
}

.edit-card h2 {

  padding: 0;
  margin-bottom: 10px;
}

.side-form {
  margin-top: 10px;

  padding: 10px;
}

.side-a {
  background-image: url("./assets/images/flashcardFront.jpg");
  border-radius: 10px 0px 0 0;
  flex-grow: 1;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.side-b {
  background-image: url("./assets/images/flashcardBack.jpg");
  border-radius: 0px 90px 10px 0;
  width: auto;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;

}

.add-card-button {
  font-size: large;
  margin-left: 10px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  border-radius: 0 0 10px 10px;
  border: solid rgb(121, 123, 151) 2px;
  border-top: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  outline: none;
}

.add-card-button:hover {
  background-color: rgb(121, 123, 151);
}

/* Card List */
.card-list {
  background-color: rgb(30, 32, 58);
  color: aliceblue;
  list-style-type: none;
  padding: 0 10px 10px 10px;
  border-radius: 10px;
  width: 70%;
  margin: 20;

  text-align: left;
}

.card-list h3 {
  margin: 0;
}

.card-list li {
  background-color: rgb(49, 54, 99);
  padding: 10px;
  cursor: pointer;

}

.card-list li:nth-child(even) {
  background-color: rgb(80, 84, 126);
}

.card-list li:first-of-type {
  border-radius: 10px 10px 0 0;
}

.card-list li:last-of-type {
  border-radius: 0 0 10px 10px;
}

.selected-card {
  background-color: rgb(131, 115, 46) !important;
}

.sharables {
  margin: 16px;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: left;

  padding: 10px;
}


/* REVIEW PAGE */
.card-to-review {
  background-color: rgb(131, 115, 46) !important;
}

.card-to-review:nth-child(even) {
  background-color: rgb(94, 82, 32) !important;
}

.flashcard {
  background-color: rgb(30, 32, 58);
  background-image: var(--dark-gradient);
  width: 80%;
  max-width: 900px;
  border-radius: 10px 90px;
  padding: 10px;
  color: black;
}

.correct-card {
  animation-name: correct-card;
  animation-duration: 0.5s;
}

.incorrect-card {
  animation-name: incorrect-card;
  animation-duration: 0.5s;
}

.flashcard-deck-title {
  text-align: left;
  padding: 15px;
  padding-top: 0;
  margin: 0;
}

.review-number {
  font-size: large;
}

.flashcard-body {
  background-color: rgb(80, 84, 126);
  animation-duration: 0.3s;
  border-radius: 10px 90px;
}

.flip-button {
  font-size: large;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  color: rgba(0, 0, 0, 0.705);
  background-color: rgba(0, 0, 0, 0);
  border: solid rgba(0, 0, 0, 0.644) 2px;
  width: 40%;
  border-radius: 10px 90px;
  ;
}


.button-container {
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
  padding: 10px;
  color: black;
}

.tab {

  width: 45%;
  font-size: large;
  margin: 10px;
  color: rgb(255, 255, 255);
  border-radius: 90px 10px;
  border: solid rgb(30, 32, 58) 2px;
  border-top: 0;
  padding: 10px 20px 10px 20px;
  transition-duration: 0.5s;
  outline: none;

}

.correct {
  background-color: rgb(75, 121, 78);
}

.correct:hover {
  background-color: rgb(44, 126, 49);
  border: solid rgb(44, 126, 49) 2px;
  border-top: 0;
}

.incorrect {
  background-color: rgb(156, 85, 85);
}

.incorrect:hover {
  background-color: rgb(133, 36, 36);
  border: solid rgb(133, 36, 36) 2px;
  border-top: 0;
}

.card-description {
  margin: 5px 10px 5px 10px;
  min-height: 100px;
  transition-duration: 0.5s;
  background-color: rgba(14, 14, 14, 0.158);
  color: black;
  border-radius: 10px;
}

.zero-opacity {
  background-color: rgb(30, 32, 58, 0);
}

.card-description:hover {
  margin: 5px 10px 5px 10px;

  border-radius: 10px;
}

.card-title {
  min-height: 40px;
  color: black;
}

.feedback-cover {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  overflow: auto;
  position: fixed;
}

.incorrect-cover {
  animation-name: incorrect-card;
  animation-duration: 0.5s;
}

.correct-cover {
  animation-name: correct-card;
  animation-duration: 0.5s;
}

/* No deck Selected */
.no-deck-warning {
  background-color: rgb(30, 32, 58);
  padding: 15px;
  padding-top: 5px;
  /* margin: 0 20px; */
  border-radius: 10px;
}

.no-deck-warning button {

  margin: 10px;
  padding: 5px 105px;
}

.log-in-button {
  padding: 3px;
  margin: 10px;
}

/* QR Code */

.qr-code {
  margin: 0;
  width: 80%;
  height: 80%;

}

/* Responsive */

@media screen and (max-width:955px) {
  .side-a {
    border-radius: 10px 90px 0 0;
  }

  .side-b {
    margin-top: 0;
    border-radius: 0 0 10px 0;
  }
  
  .flashcard-body{
    border-radius: 10px 90px;
  }

  .hero {
    width: 100%;
  }
  .mini-hero {
    width: 100%;
  }

  .signup-login{
    width: auto;
  }
  .alert {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {

  .deck-list {
    background-color: rgb(30, 32, 58);
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 15px;
    border-radius: 10px 10px 10px 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }

  .flashcard {
    background-color: rgb(30, 32, 58);
    width: auto;
    border-radius: 10px 90px;
    padding: 10px;

  }

  .button-container {
    width: auto;
  }

  .tab {
    width: 80%;
  }

  .flip-button {
    width: 80%;
  }

  .new-card-form {
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
    text-align: left;
    border-radius: 10px;

    background-color: rgb(30, 32, 58);
  }

  .side-a {
    border-radius: 10px 90px 0 0;
  }

  .side-b {
    margin-top: 0;
    border-radius: 0 0 10px 0;
  }

  .sharables {

    margin: 0;
    margin-top: 5px;
  }

  .welcome-card {
    background-color: rgb(30, 32, 58);
    border-radius: 10px;

    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  .tutorial {
    width: 100%;
  }

  .card-list {
    background-color: rgb(30, 32, 58);
    color: aliceblue;
    list-style-type: none;
    padding: 0 10px 10px 10px;

    width: 100%;
    margin-bottom: 10px;

    text-align: left;
  }

  .flashcard-body{
    border-radius: 10px 90px;
  }
}