:root {
  --background-color : rgb(138, 141, 175);
}

::placeholder{
  color: aliceblue;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  color: aliceblue;
}
h2 {
  color: aliceblue;
}

/* Key Frames */
@keyframes grow-in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    right: 100%;
    background: rgb(85, 80, 114);
  }
  to{
    right: 50%;
    background: var(--background-color);
  }
}
@keyframes slide-in-right {
  from {
    left: 100%;
    background: rgb(85, 80, 114);
  }
  to{
    left: 50%;
    background: var(--background-color);
  }
}

@keyframes correct-card {
  from {
    background-color: rgb(44, 126, 49);
  }
  to{
    background-color: rgba(30, 32, 58, 0);
  }
}
@keyframes incorrect-card {
  from {
    background-color: rgb(133, 36, 36);
  }
  to{
    background-color: rgba(1, 3, 36, 0);
  }
}
/* Classes for animations */
.grow-in{
  animation-name: grow-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
.slide-in-left{
  animation-name: slide-in-left;
  animation-duration: 0.3s;
}
.slide-in-right{
  animation-name: slide-in-right;
  animation-duration: 0.3s;
}

/* utility */
.container {
  margin-left: 20px;
  margin-right: 20px;
}

.flex-between{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.flex-left{
  align-items: center;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.white-cover{
  background: var(--background-color);
  bottom: 0;
  left: 0;
  right: 0;
  top: 93px;
  overflow: auto;
  position: fixed;
}
/* Home Styling */
.welcome-card {
  background-color: rgb(30, 32, 58);
  border-radius: 10px;
  color: aliceblue;
  width: 80%;
  text-align: left;
  margin-bottom: 10px;
}

.welcome-card p{
  margin: 0;
  padding: 10px;
  background-color: rgb(49, 54, 99);
  border-radius: 0 0 10px 10px;
}
.tutorial {
  width: 60%;
}

/* Nav Bar Styling */
.flex-container{
  position: relative;
}
.top-bar{
  padding: 10px;
  background-color: rgb(49, 54, 99);
}
.home-button{
  position: absolute;
  left: 3px;
}
nav{
  
   margin-bottom: 35px;
}
nav h1{
  color: aliceblue;
  margin: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(30, 32, 58);
  
  
}
.navigation-link{
  float:left;
  padding: 10px;
  transition-duration: 0.5s;
  text-decoration: none;
  color: aliceblue;
}
.navigation-link:hover{
  background-color: rgb(49, 54, 99);
}

.current-navigation-link{
  background-color: rgb(49, 54, 99);
}

/* Decks */
.deck-list {
  background-color: rgb(30, 32, 58);
  color: aliceblue;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 15px;
  border-radius: 10px 10px 10px 0;
  width: 80%;
  margin: 0;
  text-align: left;
}

.deck-list li {
  transition-duration: 0.5s;
  background-color: rgb(49, 54, 99);
  color: aliceblue;
  width: 97%;
  cursor: pointer;

}
.deck-list li:hover {
  width: 100%;
  border-radius: 0 !important; 
}

.deck-list li:nth-child(even) {
  background-color: rgb(80, 84, 126);
  color: aliceblue;
}
.deck-list li:first-of-type {
  border-top-right-radius: 10px;
}
.deck-list li:last-of-type {
  border-bottom-right-radius: 10px;
}
.selected-deck{
  background-color: rgb(131, 115, 46) !important;
  width: 100% !important;
  border-radius: 0 !important; 
}

h2 {
  padding: 15px;
  margin: 0;
}

.deck-list li h3 {
  margin-left: 15px;
  display: inline;
}

.deck-list li .hidden-buttons {
  transition-duration: 0.5s;
  visibility: hidden;
  opacity: 0;
  margin-right: 15px;
}

.deck-list li:hover .hidden-buttons {
  visibility: visible;
  opacity: 1;
}

.delete-button {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: solid rgb(255, 255, 255) 1px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
}
.delete-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(119, 12, 12);
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
}

.bottom-button-extend {
  transition-duration: 0.5s;
  margin: 0;
  display: block;
  border: 0;
  align-items: left;
  background-color: rgb(30, 32, 58);
  color: white;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  font-size: larger;
}

.bottom-button-extend:hover {
  padding-top: 20px;
}

/* Modal */
.modal-background {
  animation-name: fade-in;
  animation-duration: 0.5s;
  background: rgba(0, 0, 0, 0.67);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  overflow: auto;
  position: fixed;
}
.modal-body {

  transition-duration: 0.5s;
  padding-bottom:15px;
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(80, 84, 126);
  top: 10px;
  bottom: 10%;
  margin: 50px auto;
  width: 80%;
}
.modal-body form{
  padding: 15px;
  background-color: aliceblue;
}
.modal-body input{
  margin: 10px 0;
  border-radius: 15px;
  text-align: center;
  width: 70%;
  height: 30px;
  font-size: large;
  background-color: aliceblue;
  border: solid 2px rgb(0, 0, 0);
}
.modal-body h2 {
  margin: 0;
  
}

.modal-body button {
  margin: 10px;
  padding: 5px 105px;
 
}

/* Cards Page */

.description {
  padding: 15px;
  margin: 0;
}
.new-card-form{
  width: 80%;
  
  margin: 0;
  padding-bottom: 15px;
  text-align: left;
  border-radius: 10px 10px 10px 0;
  color: aliceblue;
  background-color: rgb(30, 32, 58);
  
}

.new-card-form form {
  background-color: rgb(80, 84, 126);
  
  
}
.edit-card {
  
  padding: 0 10px 0 10px;
  text-align: center;
}
label {
  font-size: larger;
}
.edit-card input {
  text-align: center;
  width: 90%;
  height: 30px;
  font-size: large;
  color: aliceblue;
  background-color: rgba(240, 248, 255, 0);
  border: solid 2px aliceblue;
  border-radius: 15px;
  transition-duration: 0.5s;
}
.edit-card textarea {
  text-align: center;
  padding: 5px;
  width: 90%;
  resize: none;
  color: aliceblue;
  background-color: rgba(240, 248, 255, 0);
  border: solid 2px aliceblue;
  border-radius: 15px;
  transition-duration: 0.5s;
}

.edit-card input:hover {
  background-color: rgba(30, 32, 58, 0.466);
}
.edit-card input:focus {
  background-color: rgb(30, 32, 58);
}
.edit-card textarea:hover {
  background-color: rgba(30, 32, 58, 0.466);
}
.edit-card textarea:focus {
  background-color: rgb(30, 32, 58);
}

.edit-card h2 {
  
  padding: 0;
  margin-bottom: 10px;
}
.side-form{
  margin-top: 10px;
  
  padding: 10px;
}
.side-a{
  background-color: rgb(121, 123, 151) !important;
  border-radius: 10px 0 0 0;
  flex-grow: 1;
  width: auto;
}
.side-b{
  background-color: rgb(131, 115, 46) !important;
  border-radius: 0 10px 10px 0;
  width: auto;
  flex-grow: 1;
 
}
.add-card-button {
  font-size: large;
  margin-left:10px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  border-radius: 0 0 10px 10px;
  border: solid rgb(121, 123, 151) 2px;
  border-top: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  outline: none;
}
.add-card-button:hover {
  background-color: rgb(121, 123, 151);
}

.card-list {
  background-color: rgb(30, 32, 58);
  color: aliceblue;
  list-style-type: none;
  padding: 0 10px 10px 10px;
  border-radius: 0 0 10px 10px;
  width: 60%;
  margin: 0;
  
  text-align: left;
}
.card-list h3 {
  margin: 0;
}
.card-list li {
  background-color: rgb(49, 54, 99);
  padding: 10px;
  cursor: pointer;
  
}
.card-list li:nth-child(even) { 
  background-color: rgb(80, 84, 126);
}
.card-list li:first-of-type {
  border-radius: 10px 10px 0 0;
}
.card-list li:last-of-type {
  border-radius: 0 0 10px 10px;
}
.selected-card{
  background-color: rgb(131, 115, 46) !important;
  
}
/* REVIEW PAGE */
.card-to-review {
  background-color: rgb(131, 115, 46) !important;
}
.card-to-review:nth-child(even) {
  background-color: rgb(94, 82, 32) !important;
}

.flashcard{
  background-color: rgb(30, 32, 58);
  width: 80%;
  border-radius: 10px 10px 10px 0px;
  padding: 10px;
}
.correct-card {
  animation-name: correct-card;
  animation-duration: 0.5s;
}
.incorrect-card {
  animation-name: incorrect-card;
  animation-duration: 0.5s;
}

.flashcard-deck-title{
  text-align: left;
  padding: 15px;
  padding-top: 0;
  margin: 0;
}
.review-number{
  font-size: large;
}
.flashcard-body{
  background-color: rgb(80, 84, 126);
  border-radius: 10px;
}
.flip-button{
  font-size: large;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  border: solid rgb(255, 255, 255) 2px;
  width: 40%;
  border-radius: 10px;;
}



.tab {
  float:left;
  font-size: large;
  margin-right: 5px;
  color: rgb(255, 255, 255);
  border-radius: 0 0 10px 10px;
  border: solid rgb(30, 32, 58) 2px;
  border-top: 0;
  padding: 10px 20px 10px 20px;
  transition-duration: 0.5s;
  outline: none;
  
}

.correct {
  background-color: rgb(38, 83, 41);
}
.correct:hover {
  background-color: rgb(44, 126, 49);
  border: solid rgb(44, 126, 49) 2px;
  border-top: 0;
}
.incorrect {
  background-color: rgb(90, 33, 33);
}
.incorrect:hover {
  background-color: rgb(133, 36, 36);
  border: solid rgb(133, 36, 36) 2px;
  border-top: 0;
}
.card-description {
  margin: 5px 10px 5px 10px;
  min-height: 100px;
  transition-duration: 0.5s;
  background-color: rgb(30, 32, 58);

  border-radius: 10px;
}

.zero-opacity{
  background-color: rgb(30, 32, 58, 0);
}
.card-description:hover {
  margin: 5px 10px 5px 10px;

  border-radius: 10px;
}

.card-title {
  min-height: 40px;
}

.feedback-cover{
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  overflow: auto;
  position: fixed;
}
.incorrect-cover {
  animation-name: incorrect-card;
  animation-duration: 0.5s;
}
.correct-cover {
  animation-name: correct-card;
  animation-duration: 0.5s;
}

/* No deck Selected */
.no-deck-warning{
  background-color: rgb(30, 32, 58);
  padding: 15px;
  padding-top: 5px;
  /* margin: 0 20px; */
  border-radius: 10px;
}
.no-deck-warning button{
  
  margin: 10px;
  padding: 5px 105px;
}